
block content
    div(class="col-sm-6 col-sm-offset-3")
        h1
            span(class="fa fa-sign-in") Signup
            - if(message.length >0)
                div(class="alert alert-danger") #{message}
        form(action="/signup" method="post")
            div(class="form-group")
                label UserName
                input(type="text" class="form-control" name="userName")
            div(class="form-group")
                label Password
                input(type="password" class="form-control" name="pwd")
            button(type="submit" class="btn btn-warning btn-lg") Signup
            
        hr

        p Already have an account?
            a(href="/login") Login
        p Or go to 
            a(href="/") Home            