extends layout
block content
    div.col-md-12.col-xs-12
        h1 #{html.title}
        - var content = html.contents
        div
            != content
        div.commentSection
            if(comments.length>0)
                p Comments:
                each comment in comments
                    div.col-md-12.col-xs-12.comment
                        div
                            != comment.content       
            div.col-md-12.col-xs-12.add
                form(action="/comment/"+message.postId method="post")
                    div.input-group
                        input.form-control(type="text" placeholder="Comment:" name="comment" required)
                        span.input-group-btn
                            button.btn.btn-primary(type="submit") Submit