extends layout

block content
    div.col-md-12.col-xs-12
        form(action="/editor/new" method="post")
            div.form-group.col-md-12.col-xs-12
                input.col-md-12.col-xs-12.form-control(type="text" name="title" placeholder="Title:" required)
                textarea.col-md-12.com-xs-12.form-control(name="content" placeholder="Content:" style="width:100%;height:55%" required)
            div.form-group.col-md-12.col-xs-12
                button.btn.btn-primary.col-xs-12.col-md-12(type="submit") Submit

