extends layout
block content
    div.text-center.col-md-12.col-xs-12
        h1.page-header Users
        ul.userArrays
        - if(userArray)
            each user in userArray
                li.users.text-left
                    a(href='/contents/usr/'+user.local.userName) #{user.local.userName}
            
                
            