footer{
  background-color: #EEE;
  position: absolute !important;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 140px;
  padding: 1rem;
  text-align: center;
}
footer p{
  margin-top: 1rem;
}
hr {
  border-color: #333
}
h1{
  text-align: center
}
.center-align {
  display: inline-block;
  vertical-align: middle;
}
.contents{
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #233;
    padding:20px;
}
.comment{
    background: #EEE;
    border: 1px solid #233;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.commentSection{
    border: 1px solid #233;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    overflow: hidden;
}
#Preview{
  height: 600px;
  overflow: scroll;
}
#Alert{
  margin-top: 5px;
  height: 30px;
  padding: 0;
}

@media only screen and (max-width:768px){
  .desktop-only{
    display: none
  }
  #Preview{
    border: 3px solid lightgray;
    border-radius: 5px;
  }
  #editorForm{
    padding: 0
  }
  #editorForm div{
    padding: 0
  }
  #pvtBtn{
    display: inline-block;
    font-stretch: normal;
  }
  .btn-secondary{
    background-color: #CCC;
    color: #333;
  }
  .btn-secondary:hover{
    color: #333;
  }
}
@media only screen and (min-width:769px){
  .mobile-only{
    display: none
  }
}
